.header {
    height: 60rem;
    padding-bottom: 6rem;
    background-image: linear-gradient(rgba(#000, .5)), url(../img/homepage/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100% 0% 100% 100% / 0% 100% 30% 30%;

    &--2 {
        background-image: linear-gradient(rgba(#000, .5)), url(../img/contact-us.jpg);        
        height: 53rem !important;
        padding-bottom: 0 !important;

        &__caption {
            top: 40% !important;
        }

        @include respond(tab-port) { 
            height: 40rem !important;           
            background-position: center center;
            border-radius: 100% 0% 100% 100% / 0% 100% 30% 30%;
            background-position: center 5rem;
        }       

        @include respond(phone) {
            height: 30rem !important;
        }
    }

    &--3 {
        background-image: linear-gradient(rgba(#000, .5)), url(../img/bg5.jpg);
    }

    &--4 {
        background-image: linear-gradient(rgba(#000, .5)), url(../img/bg3.jpg);
    }

    &--5 {
        background-image: linear-gradient(rgba(#000, .5)), url(../img/bg6.jpg);
    }

    &--6 {
        background-image: linear-gradient(rgba(#000, .5)), url(../img/bg7-1.png);
        
        @include respond(tab-port) {
            background-position: center 5rem;
        }
    }

    @include respond(tab-port) {
        height: 50rem;
    }

    @include respond(phone) {
        height: 45rem;
    }

    & .col-lg-3 {

        &:first-child {

            @include respond(tab-land) {
                max-width: 100% !important;
                flex: none !important;
            }
        }
    }

    &__logo {
        margin-top: -1.5rem;
        margin-left: 2rem;
        height: 12rem;

        @include respond(tab-port) {
            height: 10rem;
        }
    }

    &__nav {
        position: fixed;
        width: 100%;
        height: 8rem;
        top: 3rem;
        left: 50%;
        border-radius: 0.3rem;
        transform: translateX(-50%);
        width: 80%;
        z-index: 100;
        overflow: hidden;
        background-color: $color-white;
        box-shadow: 0 0 .5rem #d2d2d2;        
       
        @include respond(tab-land) {
            overflow: visible;
        }

        @include respond(tab-port) {
            border-bottom: 1px solid #eee;
        }

        & .hamburger-menu {
            position: 0;
            position: absolute;
            float: right;
            right: 4rem;            
            height: 2.5rem;
            width: 2.5rem;
            cursor: pointer;
            display: none;
            color: #2098D1;

            @include respond(tab-land) {
                display: block;
                top: 3rem;
            }

            @include respond(phone) {
                top: 2.5rem;
            }

            & i {
                position: absolute;
                font-size: 2rem;
            }

            & .fa-times {
                display: none;
            }

            & .fa-user,
            .fa-lock {
                font-size: 1.8rem;
            }

            & .fa-user {
                margin-left: -2.5rem;
            }

            & .fa-lock {
                margin-left: -5rem;
            }
        }

        @include respond(tab-land) {
            top: 0;
            width: 100%;          
            height: 8rem;
        }

        @include respond(phone) {
            height: 6.8rem !important;
        }

        &--logo {
            margin-top: 1rem;
            text-transform: uppercase;
            font-weight: 700;
            margin-left: 2rem;
            font-size: 3.3rem;
            font-style: italic;
            color: #2098D1;

            & span {
                color: $color-primary;
                font-size: 1.8rem;
                font-style: normal;
            }
        }

        & ul {
            margin-top: 3rem;
            margin-left: -13rem;
            display: flex;
            justify-content: space-around;

            @include respond(tab-land) {
                margin-left: 0;                
            }

            @include respond(tab-land) {
                display: block;
                height: 0;
                background-color: $color-white;
                width: 90%;
                margin: -1rem auto;
                border-radius: .5rem;
                overflow: hidden;
                transition: .2s;
                box-shadow: 0 0 .5rem #aaaaaa;                
            }

            & li {
                display: inline;
                list-style: none;

                @include respond(tab-land) {
                    display: block;
                }

                & a {
                    font-size: 1.6rem;
                    color: #2098D1 !important;

                    @include respond(tab-land) {
                        width: 100%;
                        display: block;                        
                        padding: 1rem;
                        padding-left: 3rem;
                    }

                }
            }
        }

        &--btn {
            margin-top: 2rem;
            margin-left: -1rem;

            & .btn {
                margin-right: .5rem;
            }

            @include respond(tab-land) {
                display: none;
            }
        }
    }

    &__caption {
        width: 70%;
        text-align: center;
        position: relative;
        top: 30%;
        @include absCenter;

        @include respond(tab-land) {            
            width: 80%;
        }

        @include respond(tab-port) {
            top: 30%;
        }

        @include respond(phone) {            
            width: 90%;
            top: 25%;
        }

        & h1 {
            font-size: 6rem;
            margin-bottom: 1rem;
            color: $color-primary;

            @include respond(tab-land) {
                font-size: 5rem;
            }

            @include respond(phone) {
                font-size: 3.5rem;
            }
        }

        p {
            width: 60%;
            font-size: 1.6rem;
            color: $color-white;
            @include absCenter;

            @include respond(tab-port) {
                width: 70%;
            }

            @include respond(phone) {
                width: 100%;
                font-size: 1.4rem;
            }
        }

        & .btn {
            margin-top: 10rem;

            @include respond(tab-port) {
                margin-top: 12rem;
            }
        }
    }
}